# MacOS
.DS_STORE

# IntelliJ
.idea/*
*.iml

# Compiled output
*.class
out/*

src/OopLecture/*
src/Birds/*
src/KitchenApp/*
src/CollectionsLec.java
src/annotations/*
src/ExceptionLec.java
src/ExceptionsLecTest.java
src/CustomException.java